.search{
    padding: 1rem;
    margin: 2rem;
}

.search input{
    width: 300px;
    padding:10px;
    font-size: 1rem;
    outline: none;
    border-radius: 10px;
    border-style: 1px;
    box-shadow: 4px -2px 2px black;
}

.search button{
    width:10%;
    padding: 10px;
    margin-left: 1rem;
    font-size: 1rem;
    outline: none;
    border: 3px solid white;
    color: rgb(255, 255, 255);
    background: #4d66ab;
    border-radius: 10px;

}